<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="en">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="en">
<![endif]-->
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock %}
        {% block title %}
            <title>Base</title>
        {% endblock title %}
        {% block styles %}
            <link href="{% static 'css/common/index.css' %}" rel="stylesheet"/>
        {% endblock styles %}
        {% block sub-styles %}
        {% endblock %}
    {% endblock head %}
</head>
<body {% block body-attr %} {% endblock %}>
{% block root %}
    <div id="root">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
{% endblock scripts %}
{% block sub-scripts %}
{% endblock %}
</body>
</html>