[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pycryptodome = "*"
pandas = "*"
pydantic = "*"
django = "*"
#database
djantic = "*"
django-mysql = "*"
pymysql = "*"
django-guardian = "*"
rules = "*"
#注意不是python-memcached也不是memcache
pymemcache = "*"
django-hashid-field = "*"
#API
#django-ninja="*"
#注意不是django-rest-framework
djangorestframework = "*"
djangorestframework-simplejwt = "*"
#drf-yasg = "*"
#这个支持到OpenAPI3.0
drf-spectacular = "*"
django-simpleui = "*"
django-cors-headers = "*"
#pdf
weasyprint = "*"
PyPDF2 = "*"
pdfplumber = "*"
#不需要django-celery
#celery = "*"
#openpyxl = "*"
gevent = "*"
waitress = { version = "*", sys_platform = "== 'win32'" }
gunicorn = { version = "*", sys_platform = "!= 'win32'" }
#supervisor建议装在全局环境下，通过系统的包管理工具进行安装
#supervisor = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pretty_errors = "*"
pytest = "*"
#jinja2支持
#jinja2 = "*"
#django-jinja = "*"
#django-sslserver = "*"

[requires]
python_version = "3.9"
